.display {
	background-color: var(--screen-background);
	margin: 0 1.75rem;
	padding: 0 1.75rem;
	height: 6.25rem;
	text-align: right;
	border-radius: var(--border-radius);
	font-size: 2.75rem;
	font-weight: 700;
	color: var(--text);
	display: flex;
	align-items: center;
}

.result {
	text-wrap: wrap;
	overflow: scroll;
	display: block;
	flex: 1;
}

@media screen and (max-width: 400px) {
	.display {
		padding: 0 1rem;
		margin: 0 1rem;
		font-size: 2rem;
		height: 5rem;
		text-wrap: wrap;
	}
}
