.container {
	max-width: 600px;
	flex: 1;
}

.header {
	display: flex;
	padding: 1.75rem;
	justify-content: space-between;
}

.title {
	color: var(--text);
	align-self: flex-end;
	line-height: 0.6;
}

@media screen and (max-width: 400px) {
	.header {
		padding: 2rem 1rem;
	}
}

@media screen and (max-width: 600px) {
	.container {
		max-width: 100dvw;
	}
}
